@import "tailwindcss";
@import "@solarverse/ui/styles.css";
@import "@solarverse/theme/styles";




* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}


body {
  background: white;
  color: var(--foreground);
  font-family: "Avenir", sans-serif;
}