@import "tailwindcss";
@import "@solarverse/theme/styles";
@import "@solarverse/ui/styles.css";




* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F4F4F4;
}