@import "tailwindcss";
@import "@solar-verse/theme/styles";
@import "@solar-verse/ui/styles.css";




* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}


body {
  background: white;
  color: var(--foreground);
  font-family: "Avenir", sans-serif;
}