@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --color-error: var(--error);
  --color-primary: var(--primary);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-secondary: var(--secondary);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-100: var(--secondary-100);
  --color-success: var(--success);
  --color-faded-light-100: var(--faded-light-100);
  --color-faded-dark-100: var(--faded-dark-100);
  --color-faded-dark-200: var(--faded-dark-200);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
}