@theme {
  /* Mobile-first responsive typography */

  /* Font weights */


  /* Mobile sizes (320px - 639px) */
  --text-body2-mobile: 0.625rem;
  /* 10px */
  --text-body1-mobile: 0.75rem;
  /* 12px */
  --text-h6-mobile: 0.875rem;
  /* 14px */
  --text-h5-mobile: 1rem;
  /* 16px */
  --text-h4-mobile: 1.125rem;
  /* 18px */
  --text-h3-mobile: 1.25rem;
  /* 20px */
  --text-h2-mobile: 1.5rem;
  /* 24px */
  --text-h1-mobile: 1.875rem;
  /* 30px */

  /* Tablet sizes (640px - 1023px) */
  --text-body2-tablet: 0.75rem;
  /* 12px */
  --text-body1-tablet: 0.875rem;
  /* 14px */
  --text-h6-tablet: 1rem;
  /* 16px */
  --text-h5-tablet: 1.125rem;
  /* 18px */
  --text-h4-tablet: 1.25rem;
  /* 20px */
  --text-h3-tablet: 1.5rem;
  /* 24px */
  --text-h2-tablet: 1.75rem;
  /* 28px */
  --text-h1-tablet: 2.125rem;
  /* 34px */

  /* Desktop sizes (1024px+) */

  --text-body2: 0.875rem;
  /* 14px */
  --text-body1: 1rem;
  /* 16px */

  --text-h6: 1.125rem;
  /* 18px */
  --text-h5: 1.25rem;
  /* 20px */
  --text-h4: 1.5rem;
  /* 24px */
  --text-h3: 1.875rem;
  /* 30px */
  --text-h2-sm:! 1.875rem;
  /* 30px */
  --text-h2: 1.875rem;
  /* 30px */
  --text-h1: 2.5rem;
  /* 40px */

  /* Color variables */
  --text-color-primary: var(--primary);
  --text-color-primary-100: var(--primary-100);
  --text-color-success: var(--success);
  --text-color-error: var(--error);
  --text-color-faded-light: var(--faded-light-100);
  --text-color-faded-dark: var(--faded-dark-100);
}